.vscode
*.hi
*.o
*~
/dist-newstyle/*
/newdist/
*.agdai
/paper/main.almost_tex
/paper/main.aux
/paper/main.bbl
/paper/main.blg
/paper/main.fdb_latexmk
/paper/main.fls
/paper/main.log
/paper/main.pdf
/paper/main.tex
*.synctex.gz
/Haskell/dist-newstyle/
/Haskell/newdist/
/paper/main.ptb
